<%- include("partials/header.ejs") %>
    <body>
        <%- include("partials/navbar.ejs") %>
        <div class="container">
            <div class="card">
                <div class="card-header card-header-alt">
                    <h3>Realizar pergunta</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="/save_Question">
                        <label >Título</label>
                        <input name="title" type="text" placeholder="Título" class="form-control">
                        <label>Descrição</label>
                        <textarea name="question" placeholder="Descreva sua pergunta aqui" class="form-control"></textarea>
                        <button class="btn btn-primary">Perguntar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <%- include("partials/bootstrap_scripts.ejs") %>
</html>